<link rel="stylesheet" href="/css/style.css">

<div class="container">
  <div class="card">
    <h2>Add Password</h2>
    <form action="/passwords/add" method="POST">
      <input name="site" placeholder="Site name" required>
      <input name="username" placeholder="Username / Email" required>
      <input name="password" type="password" placeholder="Password" required style="color-scheme: dark;">
      <button>Add Password</button>
      <a href="/passwords" class="">Your vault</a>
    </form>
  </div>
</div>
