<link rel="stylesheet" href="/css/style.css">

<div class="container">
  <div class="card">
    <h2>Login</h2>
    <form action="/login" method="POST">
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required style="color-scheme: dark;">
      <button>Login</button>
     
    </form>
    <p style="margin-top:15px;">
        Don't have an account?
        <a href="/signup">Signup</a>
      </p>
  </div>
</div>
